__pycache__/model.cpython-39.pyc
Andoain_distritos_censales.html
battery_icons.png
census_data/csv/sections_gipuzkoa_demographic_both.csv
census_data/excels/demografia_secciones_censales_nacionalidad.xls
census_data/excels/demographic_census.xlsx
census_data/excels/edad_media_indicadores.xlsx
census_data/excels/indicators.xlsx
census_data/excels/nationalities.xlsx
census_data/geojson/sections_gipuzkoa_demographic_both.geojson
census_data/geojson/sections_gipuzkoa_demographic_men.geojson
census_data/geojson/sections_gipuzkoa_demographic_women.geojson
census_data/geojson/sections_gipuzkoa_nationality_both.geojson
census_data/geojson/sections_gipuzkoa_nationality_men.geojson
census_data/geojson/sections_gipuzkoa_nationality_women.geojson
census_data/income_sociodemographics/Actividad.xlsx
census_data/income_sociodemographics/car_ownership.pdf
census_data/income_sociodemographics/Deciles Gipuzkoa.xlsx
census_data/income_sociodemographics/Edad y sexo.xlsx
census_data/income_sociodemographics/income_sociodemographics.xlsx
census_data/income_sociodemographics/Jubilados.xlsx
census_data/income_sociodemographics/Municipio.xlsx
census_data/README.txt
census_data/scripts/data/demografia_secciones_censales_nacionalidad.xls
census_data/scripts/data/demographic_census.xlsx
census_data/scripts/data/edad_media_indicadores.xlsx
census_data/scripts/data/gipuzkoafull-boundary.geojson
census_data/scripts/data/indicators.xlsx
census_data/scripts/data/indicators_census_section.geojson
census_data/scripts/data/nationalities.xlsx
census_data/scripts/data/sections.geojson
census_data/scripts/data/sections_gipuzkoa.geojson
census_data/scripts/demographic.ipynb
census_data/scripts/indicators.ipynb
census_data/scripts/nationality.ipynb
create_and_install_environment_from_file.txt
Energy_generation_demand.png
ERAIKINAK_EDIFICIOS/ERAIKINAK_EDIFICIOS.dbf
ERAIKINAK_EDIFICIOS/ERAIKINAK_EDIFICIOS.prj
ERAIKINAK_EDIFICIOS/ERAIKINAK_EDIFICIOS.shp
ERAIKINAK_EDIFICIOS/ERAIKINAK_EDIFICIOS.shx
generate_users.py
Gipuzkoa_Shapefile/Andoain_distritos_censales.html
Gipuzkoa_Shapefile/HIRILUR_URBANO.dbf
Gipuzkoa_Shapefile/HIRILUR_URBANO.prj
Gipuzkoa_Shapefile/HIRILUR_URBANO.shp
Gipuzkoa_Shapefile/HIRILUR_URBANO.shx
Gipuzkoa_Shapefile/Persons_Powerreq_PVcapacity/persons_Powerreq_PVcapacity.cpg
Gipuzkoa_Shapefile/Persons_Powerreq_PVcapacity/persons_Powerreq_PVcapacity.dbf
Gipuzkoa_Shapefile/Persons_Powerreq_PVcapacity/persons_Powerreq_PVcapacity.shp
Gipuzkoa_Shapefile/Persons_Powerreq_PVcapacity/persons_Powerreq_PVcapacity.shx
Gipuzkoa_Shapefile/selected.cpg
Gipuzkoa_Shapefile/selected.csv
Gipuzkoa_Shapefile/selected.dbf
Gipuzkoa_Shapefile/selected.html
Gipuzkoa_Shapefile/selected.prj
Gipuzkoa_Shapefile/selected.shp
Gipuzkoa_Shapefile/selected.shx
grid_optimization_storage_energy_balance.py
grid_optimization_storage_nodes.py
Grid_topology_optimization_General_Overview.pdf
grid_topology_optimization_power_and_positions_GUROBI_v3.py
iismodel_unfeasible.ilp
KWh_per_person.csv
manual_selection.zip
manual_selection/selected.dbf
manual_selection/selected.prj
manual_selection/selected.shp
manual_selection/selected.shx
map_0_2025-02-06T00-00-00.html
map_10_2025-02-06T10-00-00.html
map_11_2025-02-06T11-00-00.html
map_12_2025-02-06T12-00-00.html
map_13_2025-02-06T13-00-00.html
map_14_2025-02-06T14-00-00.html
map_15_2025-02-06T15-00-00.html
map_16_2025-02-06T16-00-00.html
map_17_2025-02-06T17-00-00.html
map_18_2025-02-06T18-00-00.html
map_19_2025-02-06T19-00-00.html
map_1_2025-02-06T01-00-00.html
map_20_2025-02-06T20-00-00.html
map_21_2025-02-06T21-00-00.html
map_22_2025-02-06T22-00-00.html
map_23_2025-02-06T23-00-00.html
map_2_2025-02-06T02-00-00.html
map_3_2025-02-06T03-00-00.html
map_4_2025-02-06T04-00-00.html
map_5_2025-02-06T05-00-00.html
map_6_2025-02-06T06-00-00.html
map_7_2025-02-06T07-00-00.html
map_8_2025-02-06T08-00-00.html
map_9_2025-02-06T09-00-00.html
map_exmap.html
Presentation_Energy_communities.pptx
selected.cpg
selected.csv
selected.dbf
selected.html
selected.prj
selected.shp
selected.shx
selected.zip
solar_irradiation_Spain.docx
test.py
test_2.py
test_3.py
test_multi_graphs_map.py
test_multi_graphs_map_v2.py
test_multi_graphs_map_v3.py
Topology-Optimization-Line-Roald.pdf
two_layers.py
Yuemin_Energy_Communities.pdf
